*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}
/*navbar*/
.navbar{
    position: fixed;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 5;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.link ul{
    display: flex;
    
}

.link a{
    text-decoration: none;
    color: rgb(127, 127, 144);
    font-family: "Open Sans", system-ui;
    font-size: 17px;
    font-weight: 600;
    transition: color 1s;
}
.link li:hover a{
    color: black;
}

.link li{
    list-style-type: none;
    margin: 0px 20px;
    position: relative;    
}
.link li::after{
    content: '';
    position: absolute;
    bottom: -5;
    left: 0;
    width: 0%;
    height: 2px;
    background-color:  rgb(206, 18, 18);
    transition: width 0.5s;
}
.link li:hover::after{
    width: 100%;
}


.logo h1{
    font-family: "Open Sans", system-ui;
    color: rgb(33, 37, 41);
    font-size: 30px;
    font-weight: 700;
}
.logo h1::after{
    content: '.';
    font-family: "Open Sans", system-ui;
    color: rgb(206, 18, 18);
    font-size: 30px;
    font-weight: 700;
}
.moon i{
    color: rgb(33, 37, 41);
    font-size: 25px;
}

/*home*/
.home{
    background-color: rgb(238, 238, 238); 
    height: 150vh;
}

.home .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    row-gap: 40px;
    height: 150vh;   
}

.home .dish{
    flex-basis: 100%; 
}
.dish:hover{
    animation: dish 0.2s  alternate ;
    animation-iteration-count:infinite;
}
@keyframes dish {
    0%{transform: rotate(1deg) ;}
    50%{transform: rotate(-1deg);}
    100%{transform: rotate(1deg) ;}
}
.home .home-cap{
    flex-basis: 100%;  
}
.home .dish img{
    width: 100%;
    filter: drop-shadow(4px 4px 9px #000a);
}

.home .home-cap h2{
    font-family: "Amatic SC", sans-serif;
    font-size: 65px;
    width: 400;
    margin: auto;
    color: rgb(55, 55, 63);
}
.home .home-cap p{
    font-family: "Open Sans", system-ui;
    color: rgb(79, 79, 90);
    line-height: 25px;
    margin: 20px 0px;
}

.home-cap button{
    background-color: rgb(195, 17, 17);
    padding: 10px 25px;
    border-color: transparent;
    border-radius: 50px;
    color: white;
    margin-right: 20px;
    transition: background-color 1s;
}
.home-cap button:hover {
    background-color: rgb(244, 4, 4);
}

.home-cap i{
    background-color: white;
    border-left: 7px solid  rgb(244, 4, 4);
    border-radius: 50% ;
    font-size: 15px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
}
.home-cap a{
    text-decoration: none;
    color: black;
    transition: color 1s;   
}

.home-cap a:hover{
    color:  rgb(244, 4, 4);
}

.home-cap span{
    margin-left: 10px;
    font-weight: 700;
}

/*CHEFS*/
.chefs{
    padding: 10px;
}
.chefs .head{
    margin: 30px auto;
}
.chefs .head p{
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: rgb(127, 127, 144);
}
.chefs .head h2{
    color: rgb(33, 37, 41);
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 170;
}
.chefs .head span{
    color: rgb(206, 18, 18);
}
.chefs{
    margin: 20px 0px;
    text-align: center;
}
.chefs .cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
}

.chef-card{
    width: 100%;
    position: relative;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s;
}
.chef-card img{
    width: 100%;
}
svg{
    position: absolute;
    z-index: 5;
    width: 100%;
    bottom: 100;
    right: 0;
    left: 0;
    transform: translate(0px ,-10px);
}
.chef-card .chef-info h3{
    color: rgb(33, 37, 41);
    font-family: Inter, sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-top: 10px;
}
.chef-card .chef-info span{
    color: rgb(127, 127, 144);
    font-family: "Open Sans", system-ui;
    font-size: 14px;
}
.chef-card .chef-info p{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
    ;
    color: rgb(127, 127, 144);
}

.chef-card .icon a{
    text-decoration: none;
    color: rgba(55, 55, 63, 0.4);
    transition: color 0.7s;
}
.chef-card .icon li{
   list-style-type: none;
}
.chef-card .icon i{
    padding: 15px 10px 15px 10px;
    font-size: 18px;
}

.chef-card .icon{
    background-color:rgba(255, 255, 255,0.3);
    width: 10%;
    border-radius: 5px;
    position: absolute;
    right: 20; 
    top: 30;
    transform: translate(150%,0%);
    transition: transform 0.5s 0.5s;
}
.chef-card:hover .icon{
    transform: translate(0%,0%);
}
.icon a:hover{
    color: rgb(45, 45, 45);
}
.chef-card:hover{
    transform: scale(1.06);
}

/*GALLERY*/
.gallery{
    padding: 20px 0px;
    margin: 50px 0px;
    text-align: center;
    background-color: dddddd;
    padding: 30px 0px;
}
.gallery .head{
    margin: 30px auto;
}
.gallery .head p{
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: rgb(127, 127, 144);
}
.gallery .head h2{
    color: rgb(33, 37, 41);
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 170;
}
.gallery .head span{
    color: rgb(206, 18, 18);
}
.gall-picture{
    columns: 1;
    column-gap: 20px;
}
.pic{
    width: 100%;
    position: relative;
    overflow: hidden;
    border: 4px solid white; 
    break-inside: avoid;
    margin-bottom: 10px;
}
.pic img{
    max-width: 100%;
    transition: transform 0.5s;
}
.pic .overlay{
    background-color: rgba(0, 0, 0,0.5);
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(0%,110%);
    transition: transform 0.5s;
}

.pic .overlay p{
    color: rgb(221, 221, 221);
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
    ;
}
.pic .overlay h3{
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.pic:hover .overlay{
    transform: translate(0%,0%);
}
.pic:hover img{
    transform: scale(1.1);
}
/*CONTACT*/

.contact .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
iframe,.contact-us,form{
    width: 100%;
}
.contact .head{
    text-align: center;
    margin: 20px 0px;
}
.contact .head p{
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: rgb(127, 127, 144);
}
.contact .head h2{
    color: rgb(33, 37, 41);
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 170;
}
.contact .head span{
    color: rgb(206, 18, 18);
}
/*******contact-us********/
.contact-us{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0px;
    row-gap: 20px;
}
.contact-us .info{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(245, 245, 245);
    padding: 30px 20px;
}

.info i{
    width: 15%;
    background-color: rgb(206, 18, 18);
    font-size: 18px;
    color: white;
    width: 50px;
    height: 50px;
    padding: 15px;
    margin-right: 10px;
    border-radius: 50%;
}
.info .ic-cont{
    width: 75%;
}

.ic-cont h3{
    font-family: Inter, sans-serif;
    color: rgb(125, 125, 125);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.ic-cont p{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(33, 37, 41);
}
.ic-cont span{
    font-weight: 700;
}


/*******inpts********/
.inputs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px 0px;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
}
.inputs .box{
    width: 95%;
    border: 2px solid rgb(232, 227, 227);
    color: rgb(33, 37, 41);
}
.box >*{
    width: 100%;
    padding: 15px;
    border-color: transparent;   
}
input:focus{
    border:1px solid rgb(206, 18, 18);

}

.inputs button{
    background-color: rgb(195, 17, 17);
    padding: 15px 40px;
    border-color: transparent;
    border-radius: 50px;
    color: white;
    margin-right: 20px;
    transition: background-color 1s;
    margin: 40px 0px 20px 0px;
}
.inputs button:hover {
    background-color: rgb(244, 4, 4);
}

/*****footer********/
.footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://routeegy.github.io/Mealify/assets/img/textured-metal-background.jpg);
    box-shadow: rgba(0, 0, 0, 0.467) 0px -1px 5px 0px;    ;
    color: white;
    margin-top: 40px;
    padding: 20px 0px;
}
.footer .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0px;
    row-gap: 20px;
}
.mealify,.subscribe,.touch{
    width: 100%;
}
/***mealify***/
.mealify .logoo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
}
.logoo img{
    width: 8%;
}
.logoo h2{
    width: 80%;
    font-family: "Open Sans", system-ui;
    font-size: 30px;
    font-weight: 700;
}

.logoo h2::after{
    content: '.';
    font-family: "Open Sans", system-ui;
    color: rgb(206, 18, 18);
    font-size: 30px;
    font-weight: 700;
}
.mealify p{
    margin: 10px 0px;
    font-family: "Open Sans", system-ui;
}
.mealify h3{
    border-bottom: 1.6px solid rgba(221, 221, 221, 0.4);
    font-family: Inter, sans-serif;
    font-size: 18.72;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}
.mealify ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.mealify li{
    list-style-type: none;
    width: 25%;
    margin-top: 20px;
}
.mealify a{
    color: white;
}
.mealify i{
    font-size: 24px;
}
/**subscribe**/
.footer h3{
    font-family: Inter, sans-serif;
    font-size: 19px;
    font-weight: 700;
}
.footer p{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 10px 0px;
}

.inp-btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}
.inp-btn .inp{
    width: 75%;
    background-color: white;
    margin-right: 5px;
}
.inp input{
    width: 100%;
    padding: 10px;
    border-color: transparent;   

}
.inp-btn button{
    width: 20%;
    background-color: rgb(195, 17, 17);
    padding: 11px 0px;
    border-color: transparent;
    color: white;
    margin-right: 20px;
    transition: background-color 1s;

    display: flex;   
    align-items: center;
    justify-content: center;

}
.inp-btn button:hover {
    background-color: rgb(244, 4, 4);
}
.inp-btn button i{
    margin-right: 3px;
    font-size: 15px;
}
.links ul{
    display: flex;   
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 7px;
    padding: 10px 0px;
}

.links li{
    list-style-type: none;
    width: 45%;
    background-color: transparent;
    padding: 2px 0px;
    transition: background-color 0.5s ,transform 0.5s;
}
.links a{
    text-decoration: none;
    color: white;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.links li:hover{
    background-color: rgba(255, 255, 255,0.2);
    transform: translate(3%,0%);
}
/***touch**/
.ic-touch{
    display: flex;   
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5px;
    display: flex;
    align-items: center;
}

.ic-touch p{
    width: 85%;
}

.ic-touch i{
    color: rgb(206, 18, 18);
    font-size: 22px;   
    width: 10%;
}